<p>Welcome <b><%= @me %></b>!</p>
Request token: <%= session[:request_token].token %><br />
<br/>
Access token: <%= @access_token.token %><br />
Access token secret: <%= @access_token.secret %><br />

