<p>Welcome!</p>
Request token: <%= session[:request_token].token %><br />
<br/>
Access token: <%= @access_token.token %><br />
Access token secret: <%= @access_token.secret %><br />
<ul>
<%  if @topics then
      @topics.each do |t| %>
        <li><%= t['subject'] %></li>
<%    end
    end %>
</ul>